<html>
  <head>
    {% if title %}
    <title>{{ title }} – base title</title>
    {% else %}
    <title>base title default</title>
    {% endif %}

 
 
  <style type="text/css">

   #navlist{position: relative;} 

   #home {
      width: 200px;
      height: 200px;
      background: url("static/iapygia_7_3.png") 0px 0px;
      zoom: 1;
    }
 
 
    #test {
      width: 250px;
      height: 250px;
      background: url("static/iapygia_7_3.png") -330px -30px;
    }
  </style>

  <body>

    <!--img id="home" src="static/trans.png"-->
    <!--img src="static/iapygia_7_3.png"-->
    <div>Base button 1: <a href="/index">Home</a></div>
    <div>Base Button 2: <a href="/history">history</a></div>
    <hr>
    {% block content %}{% endblock %}
  </body>
</html>

