<!-- extend from base layout -->
{% extends "base.html" %}

{% block content %}
  <h1>History Block</h1>

    <div class="container"><br>
      <form action"." method="post" >
        Plesase select the appropriate option:<br>
        <input type="submit" name="selection" value="Yes"><br>
        <input type="submit" name="selection" value="No"><br>
        <input type="hidden" name="numID" value="{{item.id}}"><br>    
        <input type="hidden" name="yescount" value="{{item.yes}}"><br>
        <input type="hidden" name="nocount" value="{{item.no}}"><br>
      </form>
    </div>
    <div><br><br>

           {{ item.image }}<br>
           {{ item.id}}<br>
           {{ item.yes }}<br>
           <img src="{{url_for('static',filename=item.image)}}">

    </div><br><br><br><br>



{% endblock %}

